NAME=Luis Enrique Plata Osorio
LOCATION=Bogotá, Colombia
EMAIL=www.luisplata@gmail.com
PHONE=+57 3000000000

PHOTO_URL=https://PeryLoth.com/assets/profile.jpg

PORTFOLIO=https://PeryLoth.com
GITHUB=https://github.com/luisplata
LINKEDIN=https://www.linkedin.com/in/luisenriqueplataosorio
ITCH=https://peryloth.itch.io